{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "wesbos",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [2, "never"]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "html",
    "@typescript-eslint/eslint-plugin"
  ],
  "settings": {
    "html/html-extensions": [".html"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}