# Extras
junkies*
.github*
.gitignore*
.babelrc*
.sideview
.vscode
.DS_Store
.eslintrc
.prettierrc
yarn.lock
*.tgz
.travis.yml

# FOR NPM PACKAGE
src/**/*.ts
src
!src/cli/assets

# node_modules
node_modules/*
!node_modules/bulkmailcli_*/