# Extras
junkies*
.github*
.gitignore*
.babelrc*
.sideview
.vscode
.DS_Store
.eslintrc
.prettierrc
tsconfig.json
yarn.lock

# FOR NPM PACKAGE
src
!src/cli/assets

# node_modules
node_modules/*
!node_modules/bulkmailcli_*/